html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texts {
    width: 600px;
}

h1 {
    color: #333;
    font-size: 60px;
    font-weight: bold;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

button {
    background: #017143;
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    transition: 0.5s;
}

button:hover {
    background-color: #018950;
}

.big-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    /* reduzi de 250px para 50px */
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.menu-button {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 0 10px;
}

.menu-button:hover {
    transform: scale(1.1);
}

.circle {
    background: #017143;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}

.logo {
    width: 80px;
}

.imagem-copo {
    width: 340px;
}